body {
    margin: 0;
    padding: 0;
    font: 12px Verdana;
}
.font-2x {
    font-size: 2em;
}
div.calculator {
    position: absolute;
    background-color: darkslategray;
    max-width: 60vh;
    max-height: 100%;
    width: 100%;
    padding: 10px;

    div.info {
        background-color: gainsboro;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 1px;

        span {
            background-color: darkslategray;
            color: white;
            font-size: 9px;
            font-weight: bold;
            border-radius: 3px;
            padding: 1px 5px 1px 5px;
            opacity: 0.3;
        }
    }
    div.display {
        position: relative;
        background-color: gainsboro;
        display: block;
        height: 88px;
        padding: 5px;
        font: 14px monospace;
        overflow: hidden;
        text-align: right;
        
        div.vars {
            position: absolute;
            top: 29px;
            right: 2px;
            color: gray;
            margin-right: 0px;
        }

        .line1 {
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            background-color: aqua;
            width: 100%;
            height: 24px;
        }
        
        div {
            clear: both;
            float: right;
        }
        div.stack {
            div {
                margin-right: 12px;
            }
        }
    }

    div.keyboard
    {
        background-color: black;
        display: block;
        height: calc(~"85vh - 45px");
        margin-top: 5px;
        padding: 5px;

        table {
            width: 100%;
            height: 100%; 
            table-layout: fixed;
            color: white;

            tr.functions {
                height: 30px;
            }

            table tr td {
                border: 1px solid white;
                vertical-align: middle;
                text-align: center;
            }

            &.keys td {
                position: relative;
                cursor: pointer;
                font-size: 14px;
                &:hover {
                    background-color: #111;
                }
                &#alt-key {
                    background-color: mediumspringgreen;
                    &:hover {
                        background-color: lighten(mediumspringgreen, 20%);
                    }
                }
                &#control-key {
                    background-color: purple;
                    &:hover {
                        background-color: lighten(purple, 20%);
                    }
                }
            }
            &.keys td span.alt {
                display: inline-block;
                position: absolute;
                top: 1px;
                right: 3px;
            }
            &.keys td span.ctrl {
                display: inline-block;
                position: absolute;
                top: 1px;
                left: 3px;
            }
        }
    }
    &.alt {
        .keyboard td:not(#ctrl-key #alt-key)
        {
            color: rgba(255, 255, 255, 0.1);
        }
        .keyboard td#alt-key
        {
            background-color: darken(mediumspringgreen, 10%) !important;
        }
        span.alt {
            font-size: 0.8em;
            opacity: 1;
            color: mediumspringgreen;
        }
        div.info span#falt {
            opacity: 1;
        }
    }
    &.ctrl {
        .keyboard td:not(#ctrl-key #alt-key)
        {
            color: rgba(255, 255, 255, 0.1);
        }
        .keyboard td#control-key
        {
            background-color: darken(purple, 10%) !important;
        }
        span.ctrl {
            font-size: 0.8em;
            opacity: 1;
            color: magenta;
        }
        div.info span#fctrl {
            opacity: 1;
        }
    }
    &:not(.alt) {
        span.alt {
            font-size: 0.8em;
            opacity: 0.3;
            color: mediumspringgreen;
        }
    }
    &:not(.ctrl) {
        span.ctrl {
            font-size: 0.8em;
            opacity: 0.5;
            color: magenta;
        }
    }
}